<%= form_with(url: login_path) do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, class: 'form-control' %>
    <% if f.object&.errors&.has_key?(:email) %>
      <p class="text-danger">
        <%= f.errors[:email].first %>
      </p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password, class: 'form-control' %>
    <% if f.object&.errors&.has_key?(:password) %>
      <p class="text-danger">
        <%= f.errors[:password].first %>
      </p>
    <% end %>
  </div>


  <%= f.submit 'Login', class: 'btn btn-primary' %>
<% end %>